.first-paragraph {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 130px;
	margin-right: 130px;
	padding: 50px;
	border: solid;
	
	position: relative;
} 

.first-paragraph-circle {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50%;
}